<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
</head>
<body>
    <div class="head"></div>
    <div class="left">
        <a href="/"><i class="fas fa-home"></i></a>
            
        <a href="/add"><i class="fas fa-plus"></i></a>

    </div>
    <div class="right">
        <a href="/logout"><i class="fas fa-sign-out-alt"></a>

    </div>

    <div class="main"></div>
</body>
</html>